progress {
  /* Get rid of default border in Firefox. */
  border: none;
  // Add the correct display in IE 9-.
  display: inline-block;
  // Add the correct vertical alignment in Chrome, Firefox, and Opera.
  vertical-align: baseline;
}